* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content {
    margin: 20px;
    width: 570px;
}

.bottom-content {
    padding: 40px;
    width:480px;
    border:10px solid blue;
}