* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: auto 1 1;
    justify-content: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
}

.controlPanel__numInput {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}

.controlPanel__btnsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    margin-left: 20px;
    margin-right: 20px;
}

.controlPanel__btnsContainer__btn {
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    text-decoration: none;
    color:rgb(60, 60, 60);
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease-out
}

.warningBtn {
    color: red;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.secondaryBtn:hover {
    background-color: rgb(222, 222, 222);
}

.warningBtn:hover {
    background-color: red;
    color: white;
}

.figuresSpace {
    margin-top: 20px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    width: 1500px;
    height: 600px;
}

